<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="de" data-ng-app="">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Document</title>
  <script src="js/angular.js"></script>

</head>
<body>
  <div class="container"
    data-ng-init="names=['Dieter', 'Harald', 'Sven', 'Marco']">
    
    Name: <input type="text" data-ng-model="name" />{{ name }}

    <h3>with ng-repeat strategy</h3>
    <ul>
      <li data-ng-repeat="personName in names">{{ personName }}</li>
    </ul>
  </div>
  
  <div class="container"
    data-ng-init="customers=[{name: 'Dieter', city: 'Hamburg'},{name: 'Harald', city: 'Hanover'},{name: 'Sven', city: 'Minesota'}]">
    <input type="text" data-ng-model="nameText"/>
    <ul>
      <li data-ng-repeat="cust in customers | filter:nameText | orderBy:'name'">
        {{ cust.name }} {{ cust.city }}
      </li>
    </ul>
  </div>
  
  
  Hallo
</body>
</html>